* {
	margin: 0;
	padding: 0;
}
.wrapper {
	width: 100%;
}
.container {
	width: 960px;
	margin: 35px auto;
}
.leftCol, .rightCol {
	display: inline-block;
	vertical-align: top;
	border: 1px solid gray;
	border-radius: 5px;
	margin: 15px;
	padding: 15px;
}
	.leftCol {
		width: 300px;
	}
	.leftCol p {
		margin-bottom: 7px;
	}
	.rightCol {
		width: 475px;
	}
button {
	width: 80px;
	height: 35px;
	background: lightblue;
	color: white;
	border-radius: 4px;
}
	button:hover {
		font-weight: 600;
	}
.over-thirty {
	background: lightgrey;
	width: 450px;
}
.under-thirty {
	background: black;
	color: white;
	width: 450px;
}
.hidden {
	display: none;
}
li {
	display: flex;
	margin-bottom: 10px;
}
	li span {
		display: inline-block;
		line-height: 40px;
	}
	li img {
		width: 39px;
		height: 39px;
		margin-right: 10px;
		border-radius: 50%;
	}
	li.ng-enter {
	  transition:1s ease all;
	  opacity:0;
	  transform:translateY(15px);
	}
	li.ng-enter.ng-enter-active {
	  opacity:1;
	  transform:translateY(0);
	}
	li.ng-leave {
	  transition:2s ease all;
	  opacity:1;
		  transform:translateY(0);
	}
	li.ng-leave.ng-leave-active {
	  transform:translateY(15px);
	  opacity:0;
	}
